<div style="display: flex; justify-content: space-between;">

<div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/4386467/pexels-photo-4386467.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cardiología</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Ver especialistas</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://imagenes.eltiempo.com/files/image_1200_600/uploads/2023/01/30/63d7df8f3b7a0.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ginecología</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Ver especialistas</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/15410078/pexels-photo-15410078/free-photo-of-plato-modelo-maqueta-ciencia.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Neurología</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Ver especialistas</a>
    </div>
  </div>

</div>