#cardiologia{
    background-image: url("../../../assets/cardiologia.jpg");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}