
<div class="container-bots">
  <button type="button" class="btn btn-primary" (click)="goToCreate()">Crear Especialidad</button>
  <select name="filtros" (change)="seleccionarAccion($event)">
    <option value="">Selecionar una opción</option>
    <option value="ordenar_nombre">Ordenar Por Nombre</option>
    <!-- <option value="ordenar_disponibles">Ordenar Disponibles</option> -->
    <option value="ordenar_id">Ordenar id</option>
    <option value="buscar_disponibles">Buscar Disponibles</option>
  </select>

  <form (ngSubmit)="burcador_nombre()">
    <label for="texto">Buscar por nombre</label>
    <input type="text" id="texto" name="texto" [(ngModel)]="name">
    <button type="submit">Enviar</button>
</form>

<button (click)="limpiar_filtros()">Limpiar Filtros</button>


</div>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
     @for (specialty of specialty; track specialty.id) {
      
  
    <div class="col" >
      <div class="card shadow-sm specialty">
        <img style="width: 90%;"
          [src]="'../../../assets/especialidades/' + specialty.name + '.jpg'"
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
          role="img"
          aria-label="Placeholder: Thumbnail"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        /><title>Placeholder</title>
        <!-- <rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></ -->

        <div class="card-body">
          <p class="card-text">{{ specialty.name }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="updateSpecialty(specialty.id)">
                
              Editar especialidad
              </button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
 
 
  

  }
</div>
</div>
</div>