
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}


.volver {
  margin: 20px;
}

.volver-btn {
  background-color: #28CEC5;
  border: 1px solid #28CEC5;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.volver-btn:hover {
  background-color: #144386;
  border: 1px solid #144386;
}


.doctor-details-container {
  display: flex;
  justify-content: flex-start; /* Cambia a flex-start para alinear los elementos al inicio */
  align-items: center;
  padding: 20px;
}

/* Estilo del contenedor de la imagen */
.image-container {
  flex: 1;
  max-width: 400px; /* Ajusta el ancho máximo de la imagen */
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilo del contenedor de los detalles */
.details-container {
  flex: 2;
  margin-left: 20px; /* Añade un margen a la izquierda para mover la tarjeta hacia la derecha */
}

/* Estilo de la tarjeta de detalles del doctor */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 80%; /* Ajusta el ancho de la tarjeta */
  height: 100%; /* Asegura que la tarjeta de información tenga el mismo tamaño que la imagen */
}

.card-title {
  color: #144386;
  font-size: 24px;
  margin-bottom: 20px;
}

.card-text {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilo adicional para alineación y espacio */
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

