<div class="volver">
  <button class="volver-btn" (click)="volver_doctores()">Volver</button>
</div>

<section>
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Detalles del Doctor</h5>
        <p class="card-text">Nombre: {{ doctor?.name }}</p>
        <p class="card-text">DNI: {{ doctor?.dni }}</p>
        <p class="card-text">Teléfono: {{ doctor?.phone }}</p>
        <p class="card-text">Dirección: {{ doctor?.address }}</p>
        <p class="card-text">Fecha de nacimiento: {{ doctor?.birthdate }}</p>
        <p class="card-text">Número de licencia: {{ doctor?.licenseNum }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
</section>