<section class="volver">
    <a (click)="volver_clinicas()">Volver</a>
</section>

<section class="hospital">
    <img [src]="'../../../assets/hospitales/'+hospital.id+'.jpeg'">
    <div class="datos">
        <h3>{{ hospital.name }}</h3>
        <div class="provincia">{{ hospital.province.name }}</div>
        <div>{{ hospital.address }} - {{hospital.pc}}</div>
        <div>{{ hospital.phone }}</div>
        @if(hospital.onDutty == "ACTIVE"){
            <section class="estado"><p class="active">Disponible</p></section>
        }@else if (hospital.onDutty == "INACTIVE") {
            <section class="estado"><p class="inactive">No disponible</p></section>
        }@else if (hospital.onDutty == "SUSPENDED") {
            <section class="estado"><p class="suspended">Suspendido</p></section>
        }
    </div>
</section>