<section class="principal">
    <div class="title">
        <h1>¿Quiénes somos?</h1>
    </div>

    <div class="quienes_somos">
        <p>Bienvenidos a Care +, sus centros de confianza para el cuidado integral de la salud desde 1993.
            Con más de 30 años de experiencia, nos hemos dedicado a proporcionar atención médica de calidad,
            enfocándonos en la prevención, tratamiento y seguimiento de diversas condiciones de salud para pacientes de todas las edades.
        </p>
        <img src="../../assets/play_video.png" alt="logo">
    </div>

    <div class="subtitle">
        <h1>Misión</h1>
    </div>

    <div class="contenido">
        <p>Nuestra misión es mejorar la calidad de vida de nuestros pacientes a través de un enfoque holístico de la salud,
            que no solo trata enfermedades sino que también promueve estilos de vida saludables.
            Nos comprometemos a ofrecer servicios médicos accesibles, eficientes y de alta calidad,
            asegurando que cada paciente reciba una atención personalizada y respetuosa.
        </p>
        <a href="https://github.com">Ver CV</a>
    </div>

    <div class="subtitle">
        <h1>Visión</h1>
    </div>

    <div class="contenido">
        <p>Aspiramos a ser líderes en el cuidado de la salud en nuestra comunidad,
            reconocidos por nuestra capacidad para innovar y adaptarnos a las necesidades cambiantes de nuestros pacientes.
            Nuestra visión es expandir nuestro alcance para incluir más especialidades médicas y tecnologías avanzadas,
            manteniendo siempre el bienestar de nuestros pacientes como nuestra máxima prioridad.
        </p>
        <a href="https://github.com">Ver CV</a>
    </div>

    <div class="subtitle2">
        <h1>Valores</h1>
    </div>

    <div class="contenido">
        <ul>
            <li>Compromiso con la Excelencia: Nos esforzamos por mantener los más altos estándares de calidad en todos nuestros servicios.</li>
            <li>Integridad: Actuamos con honestidad y transparencia en todas nuestras interacciones.</li>
            <li>Compasión: Tratamos a cada paciente con sensibilidad, empatía y respeto.</li>
            <li>Innovación: Buscamos constantemente nuevas formas de mejorar nuestros servicios y resultados en salud.</li>
        </ul>
    </div>

    <div class="preguntas">
        <h1 class="title">Preguntas frecuentes</h1>
        <br>
    </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Cuántos años de experiencia tiene Care + en el sector salud?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
            "Care+ cuenta con una sólida trayectoria de 20 años de experiencia en el sector salud.
            Desde nuestra fundación, hemos estado comprometidos en brindar servicios de alta calidad que
            satisfagan las necesidades de nuestros pacientes y clientes. Durante estas dos décadas,
            hemos acumulado un profundo conocimiento y expertise en el área de la salud,
            lo que nos permite ofrecer soluciones innovadoras y efectivas para promover el bienestar
            y la atención médica de excelencia. Nuestro amplio recorrido en el sector
            nos avala como una empresa confiable y líder en el rubro."
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Qué tipo de servicios médicos ofrece Care +?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Care+ ofrece una amplia gama de servicios médicos diseñados para cubrir las necesidades integrales de nuestros pacientes. Entre los servicios que ofrecemos se incluyen:
              <br><br>
            1. Atención primaria: Consultas médicas generales para el diagnóstico, tratamiento y seguimiento de enfermedades comunes, así como la promoción de la salud y la prevención de enfermedades.
              <br><br>
            2. Especialidades médicas: Contamos con un equipo de especialistas en diversas áreas de la medicina, incluyendo cardiología, dermatología, ginecología, pediatría, entre otros, para brindar atención especializada y personalizada.
              <br><br>
            3. Urgencias y emergencias: Nuestros servicios de urgencias están disponibles las 24 horas del día, los 7 días de la semana, para atender cualquier situación médica que requiera atención inmediata.
              <br><br>
            4. Servicios diagnósticos: Disponemos de tecnología de vanguardia para realizar una amplia variedad de pruebas diagnósticas, como análisis de laboratorio, estudios de imagenología, ecografías, entre otros, para ayudar en el diagnóstico preciso y oportuno de enfermedades.
              <br><br>
            5. Programas de salud preventiva: Ofrecemos programas y chequeos médicos preventivos diseñados para promover un estilo de vida saludable y detectar precozmente cualquier problema de salud, con el objetivo de prevenir complicaciones futuras.
              <br><br>
            6. Atención domiciliaria: Brindamos servicios médicos a domicilio para aquellas personas que tienen dificultades para desplazarse o prefieren recibir atención en su hogar.
              <br><br>
            Estos son solo algunos de los servicios que ofrecemos en Care+, siempre enfocados en proporcionar una atención médica integral y de calidad que satisfaga las necesidades de nuestros pacientes.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Cómo puedo hacer una cita?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Cómo puede Care + ayudarme a gestionar mi salud de manera proactiva?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>En <strong>Care+</strong>, no solo nos enfocamos en tratar enfermedades, sino que también creemos en la importancia de la gestión proactiva de la salud. Aquí te explicamos cómo podemos ayudarte:</p>

                <ol>
                    <li>
                        <strong>Chequeos Médicos Preventivos:</strong>
                        <p>Nuestros programas de chequeos médicos están diseñados para identificar posibles problemas de salud antes de que se conviertan en condiciones más serias. Estos chequeos incluyen pruebas de laboratorio, evaluaciones físicas y consultas médicas para evaluar tu estado de salud general y detectar cualquier signo temprano de enfermedad.</p>
                    </li>
                    <li>
                        <strong>Asesoramiento y Educación:</strong>
                        <p>Nuestro equipo médico está comprometido en brindarte la información y el asesoramiento necesario para que puedas tomar decisiones informadas sobre tu salud. Te proporcionamos recursos educativos sobre nutrición, ejercicio, manejo del estrés y otros aspectos importantes para mantener un estilo de vida saludable.</p>
                    </li>
                    <li>
                        <strong>Monitoreo de Condiciones Crónicas:</strong>
                        <p>Si sufres de una enfermedad crónica como la diabetes, hipertensión o enfermedades cardíacas, te ayudamos a gestionar tu condición de manera proactiva. Esto incluye seguimiento regular, ajuste de medicamentos según sea necesario y apoyo para adoptar hábitos de vida saludables que puedan mejorar tu calidad de vida.</p>
                    </li>
                    <li>
                        <strong>Promoción del Bienestar:</strong>
                        <p>Además de tratar enfermedades, también nos enfocamos en promover el bienestar general. Ofrecemos programas de salud mental, atención de salud sexual y reproductiva, y servicios de medicina alternativa para abordar tus necesidades de salud de manera integral.</p>
                    </li>
                </ol>

                <p>En <strong>Care+</strong>, estamos comprometidos en empoderarte para que tomes un papel activo en tu salud. Nuestro enfoque proactivo hacia la gestión de la salud no solo te ayuda a prevenir enfermedades, sino que también te permite disfrutar de una vida más plena y saludable a largo plazo.</p>

              </div>
            </div>
          </div>
      </div>
    <div class="contacto">
        <h1>Contáctanos</h1>
    </div>

    <form>
        <div class="nombre">
            <label for="nombre">Nombre<input name="nombre" type="text" required></label>
            <label>Apellidos<input type="text"></label>
        </div>
        <label>Correo Electrónico<input type="email" required></label>
        <!--<label>Especifícanos tu situación:<input type="text" required></label>-->
        <label>Especifícanos tu situación:<textarea rows="10"></textarea></label>
        <label><input type="submit" value="Enviar Formulario"></label>
    </form>
</section>

