section{
    display:flex;
    padding: 20px 100px;
    justify-content: center;
}
img{
    width: 600px;
    height: 400px;
    border-radius: 15px;
    margin-right: 50px;
}
.datos{
    border-radius:15px;
    display:flex;
    flex-direction: column;
    /*align-items: center;*/
    margin:30px;
    transition:0.5s;
    overflow: hidden;
}
.datos h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.datos .provincia{
    text-decoration: none;
    color:#000;
    transition: 0.5s;
    font-weight: 400;
    font-size: 14px;
}
.datos .provincia:hover{
    color:2px solid #28CEC5;
    transition: 0.5s;
    cursor: pointer;
}
.datos div{
    width: 100%;
    text-align: left;
    padding:20px 0 0 20px;
}
 
/* ESTILO DE LOS ESTADOS */
.estado{
    margin-top: 50px ;
    text-align: left;
    font-weight: 600;
    width: 100%;
}
.active{
    background-color:#b3e0a9;
    color:#33d40e;
    border-radius: 5px;
    border:1px solid #33d40e;
    padding:0 10px;
}
.suspended{
    background-color:#aaa;
    color:#666;
    border-radius: 5px;
    border:1px solid #aaa;
    padding:0 10px;
}
.inactive{
    background-color:#ea9b9b;
    color:#d40e0e;
    border-radius: 5px;
    border:1px solid #d40e0e;
    padding:0 10px;
}

.volver{
    padding: 30px;
}
.volver-btn{
    text-decoration: none;
    color:#000;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 5px 30px;
    transition: 0.5s;
    font-weight: 400;
    font-size: 14px;
}
.volver-btn:hover{
    background-color: #28CEC5;
    border: 1px solid #28CEC5;
    color: #fff !important;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 768px) {
    section {
        padding: 20px;
        flex-direction: column;
    }

    img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .datos {
        margin: 0;
        padding: 20px;
    }

    .datos h3 {
        font-size: 1.5rem;
    }

    .datos .provincia, .datos div {
        font-size: 0.875rem;
    }

    .estado {
        margin-top: 10px;
    }

    .volver {
        text-align: center;
    }

    .volver-btn {
        padding: 10px 20px;
        font-size: 1rem;
    }}