.ng-select {
  width: 100%;
  margin-bottom: 1rem;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  position: relative;
}

.ng-select .ng-dropdown-panel {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  background-color: whitesmoke;
}

.ng-select .ng-option {
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease-in-out;
}

.ng-select .ng-option:hover {
  background-color: #f0f0f0;
}

.ng-select .ng-option-selected {
  background-color: rgb(41, 147, 217);
  color: #fff;
}

.ng-select .ng-input {
  border: none;
  font-size: 1rem;
}

.ng-select .ng-placeholder {
  color: #999;
  font-style: italic;
}

.ng-select .ng-arrow-wrapper {
  color: #007bff;
  transition: transform 0.3s ease-in-out;
}

.ng-select .ng-arrow-wrapper.open {
  transform: rotate(180deg);
}

.ng-select.ng-select-loading .ng-dropdown-panel {
  background-color: #f9f9f9;
}

.ng-value-label {
  border: 2px solid transparent;
  background-color: rgb(114, 174, 214);
  border-radius: 4px;
}
.card-body {
  overflow-x: auto;
  font-weight: 700;
}

button {
  background-color: #28cec5;
  border: 1px solid #28cec5;
}
button:hover {
  background-color: #144386;
  border: 1px solid #144386;
  color: white;
}
body {
  background-position: cover;
  background-repeat: no-repeat;
}

button {
  background-color: #28cec5;
  margin-top: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 5px;
}

button:hover {
  background-color: #144386;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  margin-right: 20px;
  font-weight: bold;
  color: #144386;
}
h3 {
  color: #144386;
}
.errorSpan {
  color: rgb(151, 24, 24);
}

.sidenav{
  transition: all .5s ease;
  position: fixed;
  z-index: 110;
  width: 5rem;
  height: 100vh;
  top: 0;
}
.sidenav-hidden {
  display: none;
}
.logo-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  z-index: 2;
  position: relative;
}
.logo-container-collapsed, .sidenav-collapsed {
  background-color: #144386;
  top: 0;
  transition: all .5s ease;

}

.logo{
  background: #9e9090;
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
}
.logo-text{
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.btn-close{
  margin-left:auto ;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}
.fas{
  color: #000 ;
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav{
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
}

.sidenav-nav-item{
  width: 100%;
  height: 8%;
  margin-bottom: 0.325rem;
}

.sidenav-nav-link{
  display: flex;
  align-items: center;
  height: 3rem;
  color: #f3f3f3;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all .3s ease;
}
.sidenav-link-icon{
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}
.sidenav-link-text{
  margin-left: 1.5rem;
}
.sidenav-nav-item:hover .sidenav-nav-link {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 100%;
    height: auto;
   }

  .sidenav-collapsed {
    width: 100%;
  }

  .logo-container {
    padding: 1rem 0;
  }

  .sidenav-nav {
    flex-direction: column; 
    align-items: flex-start; 
    padding: 0; 
  }

  .sidenav-nav-item {
    width: auto; 
    height: auto; 
    margin: 0.325rem 0; 
  }

  .sidenav-link-text {
    margin-left: 0; 
    margin-right: 1rem; 
  }
}

@media (max-width: 768px) {
  .table-responsive table {
    width: 100%;
  }
  .table-responsive table thead th {
    width: auto;
  }
}

@media (max-width: 576px) {
  .table-responsive table td,
  .table-responsive table th {
    white-space: nowrap;
  }
}









/* TABLAS DE ADMIN */


.btn {
    font-size: 17px; 
}

/* ESTILOS PARA EL BOTÓN CREAR DOCTOR */

.card-header {
  background-color: #DEF3F2;
  color: black;
  font-weight: bold;
  padding: 15px;
}
.btn-primary {
    background-color: #28CEC5; 
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .btn-primary:hover {
    background-color: #144386; 
  }
 

  

  /* FILTROS */
/* General Styles */
.filtros {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}
.filtros p{
  font-weight: bold;
}

.filtros select,
.filtros input[type="text"],
.filtros button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Select Elements */
.filtros select {
  appearance: none;
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%204%205%27%3E%3Cpath%20fill%3D%27%23333%27%20d%3D%27M2%200L0%202h4L2%200zM2%205L0%203h4L2%205z%27/%3E%3C/svg%3E') no-repeat right 10px center;
  background-size: 10px 5px;
}

/* Form */
.filtros form {
  margin-bottom: 10px;
}

.filtros form label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

/* Buttons */
.filtros button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filtros button:hover {
  background-color: #0056b3;
}


.contenedorfiltros {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  color: #495057;
}


input[type="text"] {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}



input[type="text"]:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}


.container-bots {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container-bots button,
.container-bots select,
.container-bots form {
  margin: 10px;
}

.container-bots button {
  background-color: #144386;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-bots button:hover {
  background-color: #28CEC5;
}

.container-bots select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.container-bots form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-bots form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.container-bots form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 10px;
}

.container-bots form button {
  background-color: #144386;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-bots form button:hover {
  background-color: #28CEC5;
}

/* PAGINACIÓN */

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  list-style: none;
  border-radius: 0.375rem;
  background-color: #DEF3F2; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.page-item {
  margin: 0 0.25rem;
}

.page-item a {
  color: #144386; 
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  background-color: #8FE3DF; 
  border: 1px solid #8FE3DF;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page-item a:hover {
  background-color: #144386; 
  color: #fff; 
}

.page-item.active a {
  color: #fff;
  background-color: #144386; 
  border-color: #144386;
}

.page-item.disabled a {
  color: #6c757d;
  pointer-events: none;
  background-color: #f8f9fa; 
  border-color: #dee2e6;
}

.text-end {
  text-align: end;
}

/*CONTENEDOR PRINCIPAL*/
.fc {
  font-family: 'Arial, sans-serif'; 
  background-color: #ffffff;
  border-radius: 10px;
}

/*CABECERA PRINCIPAL*/

.fc-toolbar {
  background-color: #f1f1f1; 
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.fc-toolbar .fc-button {
  background-color: #5e0000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.fc .fc-col-header-cell-cushion{
  text-decoration: none;
  color: rgb(0, 0, 0);
 
}

.fc .fc-button-primary:disabled{
  background-color:#5e0000 ;  
}

.fc .fc-button:disabled{
  opacity: 1;
}

.fc-toolbar .fc-button:hover {
  background-color: #b30000;
}

/*DIAS CALENDARIO*/

.fc-daygrid-day {
  background-color: #fafafa; 
  border-radius: 10px;

}

.fc-daygrid-day:hover {
  background-color: #f0f0f0;
}

.fc-daygrid-day-number {
  color: whitesmoke;
  font-size: 1.5vw; 
  text-decoration: none;
  border-radius: 20px;
  background-color:#b30000 ;
  width: 25%;
  text-align: center;

}

/*EVENTOS*/
.fc-event {
  background-color: #dea350; 
  color: #ffffff;
  font-size: 1.5vw;
  border: 1px solid #d2904a;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

.fc-event:hover {
  background-color: #ec8e0a;
}

/*VISTA CALENDARIO*/
.fc-view-harness {
  border: 1px solid #dddddd;
  padding: 10px;
}

/*dia actual*/
.fc-day-today {
  background-color: #e3f2fd;
  border: 1px solid #90caf9;
}



.fc-daygrid-day-frame {
  border: none !important;
}

.fc-daygrid-day-top {
  border: none !important;
}

.fc-daygrid-day {
  border: none !important;
  background-clip: padding-box;
}

.fc-daygrid-day-number {
  text-decoration: none;
}

.fc-daygrid-day-frame {
  border-radius: 10px; 
}

.fc .fc-view-harness{
  border-radius: 10px;
}

.fc-day-today {
  background-color: gainsboro !important;
}


