

<!-- @if (!selectedDoctor) { -->
  <button type="button" class="btn btn-primary" (click)="goToCreate()">Añadir profesional</button>
<section class="doctores">
  
  @for(doctor of doctor; track doctor.id){
          <div class="doctor">
              <img [src]="'../../../assets/doctores/doctor.jpg'">
              <h3>{{ doctor.name }}</h3>
              <p class="especialistas">{{ doctor.name }}</p>
              <p>{{ doctor.licenseNum }}</p>
              <a class="visitar" (click)="detalles_doctor(doctor.id)">Ver info</a>
              <a class="visitar" (click)="updateDoctor(doctor.id)">Editar perfil</a>

          </div>
  }
      
  

</section>
<!-- } -->

