@if (!selectedDoctor) {
<section>
  @for (doctor of doctor; track doctor.id) {
  <div  class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <p class="card-text">{{ doctor.name }}</p>
        <p class="card-text">DNI: {{ doctor.dni }}</p>
        <p class="card-text">Teléfono: {{ doctor.phone }}</p>
        <p class="card-text">Dirección: {{ doctor.address }}</p>
        <p class="card-text">Fecha de nacimiento: {{ doctor.birthdate }}</p>
        <p class="card-text">Número de licencia: {{ doctor.licenseNum }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="getDoctorById(doctor.id)">E</button>
           
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
}
</section>
}

