<app-admin-sidebar></app-admin-sidebar>

<section class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Lista de Calendarios </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Fecha creación</th>
            <th>Fecha modificación</th>
            <th>Doctor</th>
            <th>Hospital</th>
            <th>Turno</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for(calendar of calendarios; track calendar.id){ 
            <tr>
              <td>{{ calendar.id }}</td>
              <td>{{ calendar.start_date }}</td>
              <td>{{ calendar.end_date }}</td>
              <td>{{ formatDate(calendar.date) }}</td>
              <td>{{ formatDate(calendar.date_update) }}</td>
              <td>{{ calendar.doctor.name }}</td>
              <td>{{ calendar.hospital.name }}</td>
              <td>{{ calendar.shift.name }}</td>
              <td>
                <button class="btn btn-primary" (click)="navigateToUpdateCalendar(calendar.id)">Editar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <div class="d-flex mt-3 boton">
        <button class="btn btn-primary" (click)="navigateToAddCalendar()">Nuevo</button>
      </div>
    </div>
  </div>
</section>
