<section class="principal">
    <div class="contacto">
        <h1>Contáctanos</h1>
    </div>

    <form>
        <div class="nombre">
            <label for="nombre">Nombre<input name="nombre" type="text" required></label>
            <label>Apellidos<input type="text"></label>
        </div>
        <label>Correo Electrónico<input type="email" required></label>
        <!--<label>Especifícanos tu situación:<input type="text" required></label>-->
        <label>Especifícanos tu situación:<textarea rows="10"></textarea></label>
        <label><input type="submit" value="Enviar Formulario"></label>
    </form>
</section>