
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Actualizar Doctor</h3>
        <form (ngSubmit)="onSubmit()">
            
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="doctor.name" name="nombre">
            </div>
            
            <div class="form-group">
                <label for="specialtyId">ID de Especialidad</label>
                <input type="text" class="form-control" id="specialtyId" [(ngModel)]="doctor.specialtyId" name="specialtyId">
            </div>
            <div class="form-group">
                <label for="address">Dirección</label>
                <input type="text" class="form-control" id="address" [(ngModel)]="doctor.address" name="address">
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="birthdate" [(ngModel)]="doctor.birthdate" name="birthdate">
            </div>
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" [(ngModel)]="doctor.dni" name="dni">
            </div>
            <div class="form-group">
                <label for="licenseNum">Número de Licencia</label>
                <input type="text" class="form-control" id="licenseNum" [(ngModel)]="doctor.licenseNum" name="licenseNum">
            </div>
            <div class="form-group">
                <label for="phone">Teléfono</label>
                <input type="text" class="form-control" id="phone" [(ngModel)]="doctor.phone" name="phone">
            </div>

            <div class="form-group">
                <label>Estado</label><br>
                @if(doctor.user.onDutty == "ACTIVE"){
                <input type="radio" id="option1" name="options" value="ACTIVE" [(ngModel)]="doctor.user.onDutty" checked>
                <label for="option1">ACTIVE</label><br>
                }@else{
                    <input type="radio" id="option1" name="options" value="ACTIVE" [(ngModel)]="doctor.user.onDutty" >
                    <label for="option1">ACTIVE</label><br>
                }
                @if(doctor.user.onDutty == "INACTIVE"){
                    <input type="radio" id="option2" name="options" value="INACTIVE" [(ngModel)]="doctor.user.onDutty"  checked>
                    <label for="option2">INACTIVE</label><br>
                }@else{
                    <input type="radio" id="option2" name="options" value="INACTIVE" [(ngModel)]="doctor.user.onDutty" >
                    <label for="option2">INACTIVE</label><br>
                }
                @if(doctor.user.onDutty == "SUSPENDED"){
                    <input type="radio" id="option3" name="options" value="SUSPENDED" [(ngModel)]="doctor.user.onDutty"  checked>
                    <label for="option3">SUSPENDED</label><br>
                }@else{
                    <input type="radio" id="option3" name="options" value="SUSPENDED" [(ngModel)]="doctor.user.onDutty" >
                    <label for="option3">SUSPENDED</label><br>
                }
              </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

