
<div class="contenedorGrande" >
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Actualizar Doctor {{doctorId}} {{doctor.user.onDutty}}</h3>
        <form (ngSubmit)="onSubmit()">
            
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="doctor.name" >
            </div>
            
            <div class="form-group">
                <label for="specialty.id">Especialidad</label>
                <ng-select
                [items]="specialties"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="doctor.specialty.id"
                class="form-control"
                id="specialty_id"
                name="especialty_id"
                [searchable]="true"
                [dropdownPosition]="'auto'"
              >
                @for (specialty of specialties; track specialty.id) {
                <option value="{{ specialty.id }}">
                  {{ specialty.name }}
                </option>
                }
              </ng-select>
            </div>
            <div class="form-group">
                <label>G&eacute;nero</label><br>
                @if(doctor.gender == "MALE"){
                    <input type="radio" id="opt1" name="optns" value="MALE" [(ngModel)]="doctor.gender" checked>
                    <label for="opt1">Male</label><br>
                }@else{
                    <input type="radio" id="opt1" name="optns" value="MALE" [(ngModel)]="doctor.gender" >
                    <label for="opt1">Male</label><br>
                }
                @if(doctor.gender == "FEMALE"){
                    <input type="radio" id="opt2" name="optns" value="FEMALE" [(ngModel)]="doctor.gender"  checked>
                    <label for="opt2">Female</label><br>
                }@else{
                    <input type="radio" id="opt2" name="optns" value="FEMALE" [(ngModel)]="doctor.gender" >
                    <label for="opt2">Female</label><br>
                }
                
              </div>
            <div class="form-group">
                <label for="address">Direcci&oacute;n</label>
                <input type="text" class="form-control" id="address" [(ngModel)]="doctor.address" name="address">
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="birthdate" [(ngModel)]="doctor.birthdate" name="birthdate" readonly>
            </div>
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" [(ngModel)]="doctor.dni" name="dni" readonly>
            </div>
            <div class="form-group">
                <label for="license_num">N&uacute;mero de Licencia</label>
                <input type="text" class="form-control" id="license_num" [(ngModel)]="doctor.license_num" name="license_num">
            </div>
            <div class="form-group">
                <label for="phone">Tel&eacute;fono</label>
                <input type="text" class="form-control" id="phone" [(ngModel)]="doctor.phone" name="phone">
            </div>

            <!-- <div class="form-group">
                <label>Estado del doctor</label><br>
                <label>
                  <input type="radio" name="onDutty" [value]="onDuttyOptions.ACTIVE" [(ngModel)]="doctor.user.onDutty"> Activo
                </label><br>
                <label>
                  <input type="radio" name="onDutty" [value]="onDuttyOptions.INACTIVE" [(ngModel)]="doctor.user.onDutty"> Inactivo
                </label><br>
                <label>
                  <input type="radio" name="onDutty" [value]="onDuttyOptions.SUSPENDED" [(ngModel)]="doctor.user.onDutty"> Suspendido
                </label><br>
              </div> -->

             @for(status of onDuttyArray; track status){<div>
                <input
                  type="radio" 
                  name="onDutty" 
                  [value]="status.label" 
                  [(ngModel)]="selectedOnDutty" 
                  [id]="'onDutty-' + status.id">
                  <label [for]="'onDutty-' + status.id">{{status.label}}</label>
              </div>}
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

