html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Avenir, sans-serif;
  color: #111;
  flex-direction: column;
  padding: 20px;
}

/* Card container */
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  width: 18rem;
  margin: 20px 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-body {
  text-align: center;
}

.btn-custom {
  background: #144386;
  color: white;
}

.btn-custom:hover {
  background: #0e306b;
}

/* CTA button styles */
.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #28CEC5;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #B3F3B4;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

/* Responsive styles */
@media (max-width: 768px) {
  .card-container {
      flex-direction: column;
      align-items: center;
  }

  .card {
      width: 90%;
      margin: 20px 0;
  }

  .cta {
      width: 80%;
      text-align: center;
  }
}

@media (max-width: 480px) {
  .card-container {
      flex-direction: column;
      align-items: center;
  }

  .card {
      width: 100%;
      margin: 15px 0;
  }

  .cta-container {
      flex-direction: column;
      align-items: center;
  }

  .cta {
      padding: 15px 20px;
      width: 100%;
  }

  .cta span {
      font-size: 14px;
  }

  .cta svg {
      width: 10px;
      height: 8px;
  }
}
