<app-header></app-header>
<app-navbar></app-navbar>

<div class="card-container">
  <div class="card">
    <img src="../../../../assets/especialidades/5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cardiología</h5>
      <p class="card-text">Nuestros expertos en cardiología ofrecen atención de primera clase para todas sus necesidades cardíacas</p>
      <a href="#" class="btn btn-custom">Ver especialistas</a>
    </div>
  </div>

  <div class="card">
    <img src="../../../../assets/especialidades/3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ginecología</h5>
      <p class="card-text">Ofrecemos cuidado integral para la salud femenina, incluyendo chequeos regulares y asesoramiento reproductivo.</p>
      <a href="#" class="btn btn-custom">Ver especialistas</a>
    </div>
  </div>

  <div class="card">
    <img style="width: 100%; height: auto;" src="../../../../assets/especialidades/11.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alergología</h5>
      <p class="card-text">Diagnóstico y tratamiento personalizado de diversas alergias para mejorar su bienestar</p>
      <a routerLink="/especialidades" class="btn btn-custom">Ver especialistas</a>
    </div>
  </div>
</div>

<!--botón para ver mas especialistas -->

<div class="cta-container">
  <a routerLink="/especialidadesPaciente" class="cta">
    <span>Ver más</span>
    <svg width="13px" height="10px" viewBox="0 0 13 10">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
  </a>
</div>
