.mio{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    
    .paciente {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid #28CEC5;
        background-color: #f0f8ff; 
        padding: 1rem; 
        transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
    }

    
    .paciente h2 {
        color: #144386; 
    }
    
    .paciente p {
        margin: 0.5rem 0; 
        color: #144386; 
    }
    
    .paciente p span {
        font-weight: bold;
    }
    
    .paciente .visitar {
        display: inline-block;
        margin-top: 1rem;
        background-color: #28CEC5;
        border: 1px solid #28CEC5;
        padding: 0.5rem 1rem;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
        border-radius: 4px; 
    }
    
    @media (max-width: 800px) {
        .mio {
            flex-direction: column;
        }
    }