<div class="contenedorGrande">
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Crear Doctor </h3>
        <form (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="doctor.name" name="name" required #name="ngModel">
                @if (name.invalid && (name.dirty || name.touched)) {
                    @if (name.errors?.['required']) {}
                    <div class="alert alert-danger">El nombre es requerido</div>
                }
            </div>
            <div class="form-group">
                <label for="specialty.id">Especialidad</label>
                <select name="id" id="id"  [(ngModel)]="doctor.specialty.id" required #specialty="ngModel">
                    @for (specialty of specialties; track specialty.id ) {
                        <option value="{{specialty.id}}">{{specialty.name}}</option>
                    }
                </select>
                @if (specialty.invalid && (specialty.dirty || specialty.touched)) {
                    @if (specialty.errors?.['required']) {}
                    <div class="alert alert-danger">La especialidad es requerida</div>
                }
            </div>
            <div class="form-group">
                <label>Género</label><br>
                    <input type="radio" id="gender" name="gender" value="MALE" [(ngModel)]="doctor.gender" checked required #specialty="ngModel">
                    <label for="option1">Masculino</label><br>
                
                    <input type="radio" id="gender" name="gender" value="FEMALE" [(ngModel)]="doctor.gender" >
                    <label for="option1">Femenino</label><br>
            </div>
            <div class="form-group">
                <label for="address">Direcci&oacute;n</label>
                <input type="text" class="form-control" id="address" [(ngModel)]="doctor.address" name="address" required #address="ngModel">
                @if (address.invalid && (address.dirty || address.touched)) {
                    @if (address.errors?.['required']) {}
                    <div class="alert alert-danger">La direcci&iacute;n es requerida</div>
                }
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="birthdate" [(ngModel)]="doctor.birthdate" name="birthdate" required #birthdate="ngModel">
                @if (birthdate.invalid && (birthdate.dirty || birthdate.touched)) {
                    @if (birthdate.errors?.['required']) {}
                    <div class="alert alert-danger">La fecha de cumplea&ntilde;os es requerido</div>
                }
            </div>
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" [(ngModel)]="doctor.dni" name="dni" required #dni="ngModel">
                @if (dni.invalid && (dni.dirty || dni.touched)) {
                    @if (dni.errors?.['required']) {}
                    <div class="alert alert-danger">El dni es requerido</div>
                }
            </div>
            
            <div class="form-group">
                <label for="license_num">N&uacute;mero de Licencia</label>
                <input type="text" class="form-control" id="license_num" [(ngModel)]="doctor.license_num" name="license_num" required #license_num="ngModel">
                @if (license_num.invalid && (license_num.dirty || license_num.touched)) {
                    @if (license_num.errors?.['required']) {}
                    <div class="alert alert-danger">El n&uacute;mero de licencia es requerido</div>
                }
            </div>
            <div class="form-group">
                <label for="phone">Tel&eacute;fono</label>
                <input type="text" class="form-control" id="phone" [(ngModel)]="doctor.phone" name="phone" required #phone="ngModel">
                @if (phone.invalid && (phone.dirty || phone.touched)) {
                    @if (phone.errors?.['required']) {}
                    <div class="alert alert-danger">El tel&eacute;fono es requerido</div>
                }
            </div>
            <div class="form-group">
                <label for="username">Correo</label>
                <input type="text" class="form-control" id="username"  [(ngModel)]="usuario.username" name="username" required #username="ngModel">
                @if (username.invalid && (username.dirty || username.touched)) {
                    @if (username.errors?.['required']) {}
                    <div class="alert alert-danger">El correo es requerido</div>
                }
            </div>
            <div class="form-group">
                <label for="password">Contrase&ntilde;a</label>
                <input type="password" class="form-control" id="password"  [(ngModel)]="usuario.password" name="password" required #password="ngModel">
                @if (password.invalid && (password.dirty || password.touched)) {
                    @if (password.errors?.['required']) {}
                    <div class="alert alert-danger">La contrase&ntilde;a es requerido</div>
                }
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmar Contrase&ntilde;a:</label>
                <input type="password" id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password"  class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</div>