.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.lead{
  font-weight: 300px;
  font-size: 30px;
}
.about-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.about-avatar img {
  width: 100%;
  border-radius: 50%;
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
.about-text {
  margin-top: 20px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
}
.about-list .media {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  transition: transform 0.3s ease;
}

.media:hover {
    transform: translateY(-5px);
}
.about-list label {
  font-weight: bold;
  margin-right: 10px;
}
.counter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.count-data {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.count-data h6 {
  margin: 0;
  font-size: 24px;
  color: #333;
}
.count-data p {
  margin: 5px 0 0;
  color: #777;
}
@media (min-width: 768px) {
  .about-list > div {
      width: 50%;
  }
  .count-data {
      width: 22%;
  }
}