.body{
  background-image: url(../../../../assets/fondoformu.png);
}
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.lead {
  font-weight: 300px;
  font-size: 30px;
}
h3{
  font-weight: bold;
  margin-bottom: 20px;
}
.about-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(20, 67, 134, 0.5), 0 0 10px rgba(40, 206, 197, 0.5);
  margin-bottom: 20px;
  text-align: center; 
}
.about-avatar img {
  width: 100%;
  border-radius: 50%;
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
.about-text {
  margin-top: 20px;
}
.about-list {
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.about-list .media {
  width: 100%;
  max-width: 400px; 
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  transition: transform 0.3s ease;
}
.media:hover {
  transform: translateY(-5px);
}
.about-list label {
  font-weight: bold;
  margin-right: 10px;
}
.counter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.count-data {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.count-data h6 {
  margin: 0;
  font-size: 24px;
  color: #333;
}
.count-data p {
  margin: 5px 0 0;
  color: #777;
}
@media (min-width: 768px) {
  .about-section {
    text-align: left;
  }
  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  .about-list .media {
    width: 48%; 
  }
}
