<app-header></app-header>
<app-registrado-sidebar></app-registrado-sidebar>

<body>
<div class="container">
  <section class="about-section">
    <div class="about-avatar">
      <img
        [src]="'assets/iconos/paciente.png'"
        alt="Paciente Avatar"
      />
    </div>
    <div class="about-text go-to">
      <h3 class="theme-color lead">{{ paciente.name }}</h3>
      <div class="about-list">
        <div class="media">
          <label>Fecha Nacimiento:</label>
          <p>{{ paciente.birthdate }}</p>
        </div>
        <div class="media">
          <label>Dirección:</label>
          <p>{{ paciente.address }}</p>
        </div>
        <div class="media">
          <label>Teléfono:</label>
          <p>{{ paciente.phone }}</p>
        </div>
        <div class="media">
          <label>Tel de Emergencia:</label>
          <p>{{ paciente.emergency_phone }}</p>
        </div>
        <div class="media">
          <label>DNI:</label>
          <p>{{ paciente.dni }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
</body>