<header>

</header>
<div class="nav">
    <app-logo></app-logo>

<div class="nav-item">
    <p>Inicio
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Quiénes somos
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Profesionales
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Clinicas
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Especialidad
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Contáctanos
    <i class="fa fa-chevron-down"></i></p>
</div>






<ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
  </ul>

<button class="button-log">Iniciar Sesion</button>
</div>




