<div class="nav">
    <app-logo></app-logo>

<div class="nav-item">
    <p>Inicio
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Quiénes somos
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Profesionales
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Clinicas
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Especialidad
    <i class="fa fa-chevron-down"></i></p>
</div>
<div class="nav-item">
    <p>Contáctanos
    <i class="fa fa-chevron-down"></i></p>
</div>

<button class="button-log">Iniciar Sesion</button>
</div>
