<header>

</header>
<ul class="nav">
    <app-logo></app-logo>

<li class="nav-item">
    <a routerLink="/home" class="nav-link">Inicio
    </a>
</li>
<li class="nav-item">
    <a routerLink="/quienes_somos" class="nav-link">Quiénes somos
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">Profesionales
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">Clinicas
    </a>
</li>
<li class="nav-item">
    <a routerLink="/especialidades" class="nav-link">Especialidades
    </a>
</li>
<li class="nav-item">
    <a routerLink="/contacto" class="nav-link">Contáctanos
    </a>
</li>

<button (click)="ir_inicio_sesion()" class="button-log" role="button">Iniciar Sesión</button>
</ul>




