<!-- <div class="col-md-6 offset-md-3">
    <h3 class="text-center">Actualizar Doctor</h3>
    <form (ngSubmit)= "onSubmit()">
        <div class="form-group">
            <label for="id">id</label>
            <input type="text"
            class = "form-control"
            id = "id"
            [(ngModel)] = "doctor.id" 
            name = "id"
    >

            
        </div>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text"
            class = "form-control"
            id = "name"
            [(ngModel)] = "doctor.name"
            name = "name">
        </div>
        <div class="form-group">
            <label for="userId">userId</label>
            <input type="userId"
            class = "form-control"
            id = "userId"
            [(ngModel)] = "doctor.userId"
            name = "userId">
        </div>
        <div class="form-group">
            <label for="specialtyId">specialtyId</label>
            <input type="text"
            class = "form-control"
            id = "specialtyId"
            [(ngModel)] = "doctor.specialtyId"
            name = "specialtyId">
        </div>
        
        <div class="form-group">
            <label for="address">address</label>
            <input type="address"
            class = "form-control"
            id = "address"
            [(ngModel)] = "doctor.address"
            name = "address">
        </div>
        <div class="form-group">
            <label for="birthday">Birthday</label>
            <input type="text"
            class = "form-control"
            id = "birthday"
            [(ngModel)] = "doctor.birthday"
            name = "birthday">
        </div>
        <div class="form-group">
            <label for="dni">dni</label>
            <input type="text"
            class = "form-control"
            id = "dni"
            [(ngModel)] = "doctor.dni"
            name = "dni">
        </div>
        <div class="form-group">
            <label for="licenseNum">licenseNum</label>
            <input type="text"
            class = "form-control"
            id = "licenseNum"
            [(ngModel)] = "doctor.licenseNum"
            name = "licenseNum">
        </div>
        <div class="form-group">
            <label for="phone">phone</label>
            <input type="text"
            class = "form-control"
            id = "phone"
            [(ngModel)] = "doctor.phone"
            name = "phone">
        </div>

        <button class="btn btn-success"      >SAVE</button>
    </form>
</div> -->