




<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eighth navbar example">
  <div class="container container-bots" >
    

    <div class=" navbar" id="navbarsExample07">
      <div class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 3rem; gap: 2rem;">
        
        <div class="nav-item">
          <select name="filtros" (change)="seleccionarAccion($event)">
            <option value="">Selecionar una opción</option>
            <option value="ordenar_nombre">Ordenar A-Z</option>
            <option value="ordenar_nombre_des">Ordenar Z-A</option>
          </select>
        </div>
        <div class="nav-item">
          <form (ngSubmit)="burcador_nombre()">
            <div style="display: flex; justify-content: center; align-items: center;">
              <input type="text" id="texto" name="texto" [(ngModel)]="name" placeholder="Buscar por nombre">
            <button style="margin-top: 0;" type="submit">Enviar</button>
            </div>
            <!-- <label for="texto">Buscar</label> -->
            
          </form>
        
        </div>
        <div class="nav-item">
          <button (click)="limpiar_filtros()">Limpiar Filtros</button>
        </div>
        
        
      </div>
      
    </div>
  </div>
</nav>





<div class="album py-5 bg-light">
  <div class="container" >
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
     @for (specialty of specialty; track specialty.id) {
      
  
    <div class="col" >
      <div class="card shadow-sm specialty" >
        
          <img 
          [src]="'../../assets/especialidades/' + specialty.id + '.jpg'"
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
          role="img"
          aria-label="Placeholder: Thumbnail"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        /><title>Placeholder</title>
   
        
        <!-- <rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></ -->

        <div class="card-body">
          <p class="card-text">{{ specialty.name }}</p>
          <div class="d-flex justify-content-between align-items-center">
           
          </div>
        </div>
      </div>
    </div>
 

  }
</div>
</div>
</div>