<app-header></app-header>
<app-registrado-sidebar></app-registrado-sidebar>
<div class="container contenedorform">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
            <button [routerLink]="['/registrado-pedir-cita']" routerLinkActive="router-link-active" >volver</button>
            <div class="card shadow border-0">
                <div class="card-body">
                    <form>
                        <fieldset>
                            <legend>Clinicas</legend>
                            <div class="form-group">

                                <div class="form-group" >
                                    <label for="province-select">Elige una provincia: </label>
                                    <select id="province-select" class="custom-select" name="filtros" (change)="onProvinceChange($event)">
                                        @for(provincia of provincias; track provincia.id){
                                            <option value={{provincia.id}}>{{provincia.name}}</option>
                                        }
                                    </select>
                                </div>

                                @if(selectedProvince){
                                    <div class="form-group">
                                        <label for="hospital-select">Elige una clinicas: </label>
                                        <select id="hospital-select" class="custom-select" name="hospitales" (change)="onHospitalChange($event)">
                                            @for(hospital of hospitales; track hospital.id){
                                                <option value={{hospital.id}}>{{hospital.name}}</option>
                                            }
                                        </select>
                                    </div>
                                }

                                @if(selectedHospital){
                                    <div class="form-group">
                                        <label for="specialty-select">Elige una especialidad: </label>
                                        <select id="specialty-select" class="custom-select" name="especialidades" (change)="onSpecialtyChange($event)">
                                            @for (specialty of specialties; track $index) {
                                                <option value={{specialty.id}}>{{ specialty.name }}</option>
                                            }
                                        </select>
                                    </div>
                                }

                                @if(selectedSpecialty){
                                    <div class="form-group">
                                        <label for="doctor-select">Elige un doctor: </label>
                                        <select id="doctor-select" class="custom-select" name="doctores" (change)="onDoctorChange($event)">
                                            @for(doctor of doctores; track doctor.id){
                                                <option value={{doctor.id}}>{{doctor.name}}</option>
                                            }  
                                        </select>
                                    </div>
                                }
                            </div>
                        
                        </fieldset>
                    
                    </form>
                </div>
            </div>
        
    </div>
</div>
