
<div class="contenedorGrande" >
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Actualizar Paciente {{pacienteId}}</h3>
        <form (ngSubmit)="onSubmit()">
            
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="paciente.name" >
            </div>
            
            <div class="form-group">
                <label>G&eacute;nero</label><br>
                @if(paciente.gender == "MALE"){
                    <input type="radio" id="opt1" name="optns" value="MALE" [(ngModel)]="paciente.gender" checked>
                    <label for="opt1">Male</label><br>
                }@else{
                    <input type="radio" id="opt1" name="optns" value="MALE" [(ngModel)]="paciente.gender" >
                    <label for="opt1">Male</label><br>
                }
                @if(paciente.gender == "FEMALE"){
                    <input type="radio" id="opt2" name="optns" value="FEMALE" [(ngModel)]="paciente.gender"  checked>
                    <label for="opt2">Female</label><br>
                }@else{
                    <input type="radio" id="opt2" name="optns" value="FEMALE" [(ngModel)]="paciente.gender" >
                    <label for="opt2">Female</label><br>
                }
                
              </div>
            <div class="form-group">
                <label for="address">Direcci&oacute;n</label>
                <input type="text" class="form-control" id="address" [(ngModel)]="paciente.address" name="address">
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="birthdate" [(ngModel)]="paciente.birthdate" name="birthdate" readonly>
            </div>
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" [(ngModel)]="paciente.dni" name="dni" readonly>
            </div>
         
            <div class="form-group">
                <label for="phone">Tel&eacute;fono</label>
                <input type="text" class="form-control" id="phone" [(ngModel)]="paciente.phone" name="phone">
            </div>

            @for(status of onDuttyArray; track status){<div class="form-group">
                <input
                  type="radio" 
                  name="onDutty" 
                  [value]="status.label" 
                  [(ngModel)]="selectedOnDutty" 
                  [checked]="selectedOnDutty === status.value"
                  [id]="'onDutty-' + status.id">
                  <label [for]="'onDutty-' + status.id">{{status.label}}</label>
              </div>}
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

