<div class="quality-of-life">
    <div class="container">
      <h2>¡Ayudando a nuestros pacientes!</h2>
      <h1>Mejorando la calidad de tu vida a través de una mejor salud.</h1>
      <div class="content">
        <div class="experience">
          <h3>30</h3>
          <p>Años de experiencia</p>
          <p>Ofrecemos una amplia gama de atención y apoyo a nuestros pacientes, desde el diagnóstico hasta la rehabilitación</p>
        </div>
        <div class="image-and-text">
          <img src="../../../../assets/logo.png" alt="Healthcare professional">
          <div class="text">
            <p>
                Nuestro objetivo es brindar calidad de atención de manera cortés, respetuosa y compasiva.
                 Esperamos que nos permita cuidarlo y ser la primera y mejor opción en atención médica
            </p>
            <p>
                Trabajaremos contigo para desarrollar planes de atención individualizados, que incluyan el manejo de enfermedades.
                 Estamos comprometidos a ser la red de atención médica líder en el país, 
                 brindando atención centrada en el paciente que inspire la excelencia en el servicio.
            </p>
            <button>Encuentra un doctor</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

