<app-header></app-header>
<app-admin-sidebar></app-admin-sidebar>
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eighth navbar example">
  <div class="container container-bots contenedorfiltros" >
    

    <div class=" navbar" id="navbarsExample07" style="width: 100%;">
      <div class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 3rem; gap: 2rem;">

        <div class="nav-item">
          <form (ngSubmit)="burcador_nombre()">
            <div style="display: flex; justify-content: center; align-items: center;">
              <input type="text" id="texto" name="texto" [(ngModel)]="name" placeholder="Buscar por nombre">
            <button style="margin-top: 0;" type="submit">Enviar</button>
            </div>
            <!-- <label for="texto">Buscar</label> -->
            
          </form>
        </div>

        <div class="nav-item">
          <form (ngSubmit)="burcador_id()">
            <div style="display: flex; justify-content: center; align-items: center;">
              <input type="text" id="texto" name="texto" [(ngModel)]="id" placeholder="Buscar por id">
            <button style="margin-top: 0;" type="submit">Enviar</button>
            </div>
            
          </form>
        </div>

        <div class="nav-item">
          <form (ngSubmit)="burcador_dni()">
            <div style="display: flex; justify-content: center; align-items: center;">
              <input type="text" id="texto" name="texto" [(ngModel)]="dni" placeholder="Buscar por DNI">
            <button style="margin-top: 0;" type="submit">Enviar</button>
            </div>
            <!-- <label for="texto">Buscar</label> -->
            
          </form>
          
        </div>
       <div class="nav-item">
        <button (click)="limpiar_filtros()">Limpiar Filtros</button>
      </div>
      </div>
      
    </div>
    
  </div>
</nav>
<section class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title">Lista de Pacientes</h3>
      <button type="button" class="btn btn-primary" (click)="goToCreate()">
        A&ntilde;adir un nuevo paciente
      </button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="center-text">ID</th>
            <th class="center-text">Nombre</th>
            <th class="center-text">DNI</th>
            <th class="center-text">Cumplea&ntilde;os</th>
            <th class="center-text">Tel&eacute;fono</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let group of chunkArray(pacientes, itemsPerPage); let i = index">
            <ng-container *ngIf="currentPage === i">
              <tr *ngFor="let paciente of group">
                <th class="center-text">{{ paciente.id }}</th>
                <th class="center-text">{{ paciente.name }}</th>
                <th class="center-text">{{ paciente.dni }}</th>
                <th class="center-text">{{ paciente.birthdate }}</th>
                <th class="center-text">{{ paciente.phone }}</th>
                <th>
                  <button class="btn btn-primary" (click)="navigateToUpdatePatient(paciente.id)">Editar</button>
                </th>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="Page navigation example" class="flex-column text-end">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <a class="page-link" (click)="prevPage()">Anterior</a>
      </li>
      <li class="page-item" *ngFor="let page of getPages()" [class.active]="currentPage === page" [class.disabled]="page === '...'">
        <a class="page-link" (click)="setPage(page)" *ngIf="page !== '...'">{{ page }}</a>
        <span class="page-link" *ngIf="page === '...'">...</span>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()">Siguiente</a>
      </li>
    </ul>
  </nav>
</section>
