














<!-- listado admin -->
<app-header></app-header>

<app-admin-sidebar></app-admin-sidebar>
<!-- filtros vista admin -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eighth navbar example">
  <div class="container container-bots" >
    

    <div class=" navbar" id="navbarsExample07">
      <div class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 3rem; gap: 2rem;">
        
        <div class="nav-item">
          <select name="filtros" (change)="seleccionarAccion($event)">
            <option value="">Selecionar una opción</option>
            <option value="ordenar_nombre">Ordenar A-Z</option>
            <option value="ordenar_nombre_des">Ordenar Z-A</option>
          </select>
        </div>
        <div class="nav-item">
          <form (ngSubmit)="burcador_nombre()">
            <div style="display: flex; justify-content: center; align-items: center;">
              <input type="text" id="texto" name="texto" [(ngModel)]="name" placeholder="Buscar por nombre">
            <button style="margin-top: 0;" type="submit">Enviar</button>
            </div>
            <!-- <label for="texto">Buscar</label> -->
            
          </form>
        
        </div>
        <div class="nav-item">
          <button (click)="limpiar_filtros()">Limpiar Filtros</button>
        </div>
        <div class="nav-item">
          <button type="button" class="btn btn-primary" (click)="goToCreate()">Crear Especialidad</button>
        </div>
        
      </div>
      
    </div>
  </div>
</nav>



<section class="container">

  
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Lista de especialidades</h3>
    </div>

    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
       
          </tr>
        </thead>
        <tbody>
          @for(specialty of specialty; track specialty.id){ 
            <tr>
              <th>{{ specialty.id }}</th>
              <th>{{ specialty.name }}</th>

              <th>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="updateSpecialty(specialty.id)">Editar</button>
                
              </th>
            </tr>
            }
        </tbody>
      </table>
    </div>
  </div>
      
  

</section>