<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Artículos recientes</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <a href="https://www.infosalus.com/asistencia/noticia-cirugia-bariatrica-consiste-beneficios-riesgos-20240516083348.html" target="_blank" style="text-decoration: none;">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/news/cirugiabariatrica2.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Cirugía bariátrica</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
          
            </li>
            
          </ul>
        </div>
      </div>
    </a>
    </div>

    <div class="col">
      <a href="https://www.gob.mx/conavim/articulos/sabes-en-que-consiste-la-violencia-obstetrica?idiom=es" target="_blank" style="text-decoration: none;">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/news/violencia-obstétrica.jpeg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">violencia obstétrica</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
           
          </ul>
        </div>
      </div>
    </a>
    </div>

    <div class="col">
      <a href="https://www.gob.mx/conavim/articulos/sabes-en-que-consiste-la-violencia-obstetrica?idiom=es" target="_blank" style="text-decoration: none;">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/news/quemaduras.webp');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Quemaduras solares en la infancia</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            
          </ul>
        </div>
      </div>
    </a>
    </div>
  </div>

</div>

