body {
    background-position: cover;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedorGrande {
    background-image: url("../../../../assets/fondoformu.png");
    background-position: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-wrapper {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    
    max-width: 650px;
    width: 100%;
}

h3 {
    color: #144386;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px; 
}

.form-group label {
    margin-right: 20px;
    font-weight: bold;
    color: #144386; 
}

input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #28CEC5;
    border: 1px solid #28CEC5;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #144386;
    border: 1px solid #144386;
    color: white; 
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
