<app-header></app-header>
<app-admin-sidebar></app-admin-sidebar>

<section class="contenedorGrande">
    <div class="form-wrapper">
        <h3>A&ntilde;adir Paciente</h3>
        <form (ngSubmit)="onSubmit()" class="form-content">
        
            <div class="form-group">
                <label for="username">Correo:</label>
                <input type="email" name="username" id="username"  [(ngModel)]="usuario.username" required #username="ngModel"  class="form-control">
                @if (username.invalid && (username.dirty || username.touched)) {
                    @if (username.errors?.['required']) {}
                    <div class="alert alert-danger">El correo es requerido</div>
                }
            </div>

            <div class="form-group">
                <label for="password">Contrase&ntilde;a</label>
                <input type="password" class="form-control" id="password"  [(ngModel)]="usuario.password" name="password" required #password="ngModel">
                @if (password.invalid && (password.dirty || password.touched)) {
                    @if (password.errors?.['required']) {}
                    <div class="alert alert-danger">La contrase&ntilde;a es requerido</div>
                }
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirmar Contrase&ntilde;a:</label>
                <input type="password" id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password"  class="form-control">
               
            </div>

            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" [(ngModel)]="paciente.name" required #name="ngModel" class="form-control">
                @if (name.invalid && (name.dirty || name.touched)) {
                    @if (name.errors?.['required']) {}
                    <div class="alert alert-danger">El nombre es requerida</div>
                }
            </div>
            <div class="form-group">
                <label>G&eacute;nero</label><br>
                    <input type="radio" id="gender1" name="gender1" value="MALE" [(ngModel)]="paciente.gender" checked>
                    <label for="option1">Masculino</label><br>
                
                    <input type="radio" id="gender1" name="gender1" value="FEMALE" [(ngModel)]="paciente.gender" >
                    <label for="option2">Femenino</label><br>
            </div>

            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" name="dni" id="dni" [(ngModel)]="paciente.dni" pattern="^([0-9]{8}[A-Z]{1})" required #dni="ngModel" class="form-control">
                
            </div>

            <div class="form-group">
                <label for="birthdate">Fecha de Nacimiento:</label>
                <input type="date" name="birthdate" id="birthdate" [(ngModel)]="paciente.birthdate" pattern="^(?:\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[1-2]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[1-2]\d|30)|02-(?:0[1-9]|1\d|2[0-8]))|(?:\d{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)" required #birthdate="ngModel" class="form-control">
                @if (birthdate.invalid && (birthdate.dirty || birthdate.touched)) {
                    @if (birthdate.errors?.['required']) {}
                    <div class="alert alert-danger">La fecha de nacimiento es requerida</div>
                }
            </div>

            <div class="form-group">
                <label for="address">Direcci&oacute;n:</label>
                <input type="text" name="address" id="address" [(ngModel)]="paciente.address" required #address="ngModel" class="form-control">
                @if (address.invalid && (address.dirty || address.touched)) {
                    @if (address.errors?.['required']) {}
                    <div class="alert alert-danger">La Direcci&oacute;n es requerida</div>
                }
            </div>

            <div class="form-group">
                <label for="phone">Tel&eacute;fono:</label>
                <input type="text" name="phone" id="phone" [(ngModel)]="paciente.phone" required #phone="ngModel" pattern="^[0-9]{9}" class="form-control">
                @if (phone.invalid && (phone.dirty || phone.touched)) {
                    @if (phone.errors?.['required']) {}
                    <div class="alert alert-danger">El tel&eacute;fono es requerida</div>
                }
            </div>

            <div class="form-group">
                <label for="emergency_phone">Tel&eacute;fono de Emergencia:</label>
                <input type="text" name="emergency_phone" id="emergency_phone" [(ngModel)]="paciente.emergency_phone" required #emergency_phone="ngModel" pattern="^[0-9]{9}" class="form-control">
                @if (emergency_phone.invalid && (emergency_phone.dirty || emergency_phone.touched)) {
                    @if (emergency_phone.errors?.['required']) {}
                    <div class="alert alert-danger">El tel&eacute;fono de emergencia es requerida</div>
                }
            </div>
            
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>
</section>
