<section class="contenedorGrande">
    <div class="form-wrapper">
        <h3>Añadir Paciente</h3>
        <form (ngSubmit)="onSubmit()" class="form-content">
        
            <div class="form-group">
                <label for="username">Correo:</label>
                <input type="email" name="username" id="username" [(ngModel)]="paciente.id_user.username" [(ngModel)]="usuario.username" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" [(ngModel)]="paciente.id_user.password" [(ngModel)]="usuario.password" class="form-control">
            </div>

            <div class="form-group">
                <label for="password2">Confirmar Contraseña:</label>
                <input type="password" name="password2" id="password2" [(ngModel)]="confirm_password" class="form-control">
            </div>

            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" [(ngModel)]="paciente.name" class="form-control">
            </div>

            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" name="dni" id="dni" [(ngModel)]="paciente.dni" pattern="^([0-9]{8}[A-Z]{1})" class="form-control">
            </div>

            <div class="form-group">
                <label for="birthdate">Fecha de Nacimiento:</label>
                <input type="text" name="birthdate" id="birthdate" [(ngModel)]="paciente.birthdate" pattern="^(?:\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[1-2]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[1-2]\d|30)|02-(?:0[1-9]|1\d|2[0-8]))|(?:\d{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)" class="form-control">
            </div>

            <div class="form-group">
                <label for="address">Dirección:</label>
                <input type="text" name="address" id="address" [(ngModel)]="paciente.address" class="form-control">
            </div>

            <div class="form-group">
                <label for="phone">Teléfono:</label>
                <input type="text" name="phone" id="phone" [(ngModel)]="paciente.phone" pattern="^[0-9]{9}" class="form-control">
            </div>

            <div class="form-group">
                <label for="emergency_phone">Teléfono de Emergencia:</label>
                <input type="text" name="emergency_phone" id="emergency_phone" [(ngModel)]="paciente.emergency_phone" pattern="^[0-9]{9}" class="form-control">
            </div>
            
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>
</section>
