<app-header></app-header>
<app-doctor-sidebar></app-doctor-sidebar>
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eighth navbar example">
    <div class="container container-bots contenedorfiltros" >
      <div class=" navbar" id="navbarsExample07">
        <div class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 3rem; gap: 2rem;">
  
  
          <div class="nav-item">
            <form (ngSubmit)="burcador_nombre()">
              <div style="display: flex; justify-content: center; align-items: center;">
                <input type="text" id="texto" name="texto" [(ngModel)]="name" placeholder="Buscar por nombre">
              <button style="margin-top: 0;" type="submit">Enviar</button>
              </div>
              <!-- <label for="texto">Buscar</label> -->
              
            </form>
          </div>
  
          <div class="nav-item">
            <form (ngSubmit)="burcador_id()">
              <div style="display: flex; justify-content: center; align-items: center;">
                <input type="text" id="texto" name="texto" [(ngModel)]="ide" placeholder="Buscar por id">
              <button style="margin-top: 0;" type="submit">Enviar</button>
              </div>
              
            </form>
          </div>
  
  
          <div class="nav-item">
            <button (click)="limpiar_filtros()">Limpiar Filtros</button>
          </div>
          
          
        </div>
        
      </div>
    </div>
  </nav>
<div class="container">
    @for(paciente of pacientes; track paciente.id) {
        <div class="paciente">
            <h2>{{paciente.name}}</h2>
            <p><span>DNI:</span> {{paciente.dni}}</p>
            <p><span>Fecha de Nacimiento:</span> {{paciente.birthdate}}</p>
            <p><span>Dirección:</span> {{paciente.address}}</p>
            <p><span>Teléfono:</span> {{paciente.phone}}</p>
            <p><span>Teléfono de Emergencia:</span> {{paciente.emergency_phone}}</p>
            
              <a class="visitar" (click)="goToClinicalProfile()">Clinical Profile</a>

              <a class="visitar" (click)="ponerPerfil(paciente.id)">Crear Clinical Profile</a>
            
            
        </div>
    }
</div>