.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 2rem auto;
    gap: 2rem; 
    max-width: 1200px; 
}

.paciente {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%; 
    border: 2px solid #28CEC5;
    background-color: #f0f8ff; 
    padding: 1rem; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.paciente:hover {

    border-color: #144386;
    color: white;
}

.paciente h2 {
    color: #144386; 
}

.paciente p {
    margin: 0.5rem 0; 
    color: #144386; 
}

.paciente p span {
    font-weight: bold;
}

.paciente .visitar {
    display: inline-block;
    margin-top: 1rem;
    background-color: #28CEC5;
    border: 1px solid #28CEC5;
    padding: 0.5rem 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    border-radius: 4px; 
}

.paciente .visitar:hover {
    background-color: #144386;
    border-color: #144386;
}
@media (max-width: 768px) {
    .paciente {
        width: 100%; 
    }
}


.container-bots {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.container-bots button,
.container-bots select,
.container-bots form {
    margin: 10px;
}

.container-bots button {
    background-color: #144386;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container-bots button:hover {
    background-color: #28CEC5;
}

.container-bots select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.container-bots form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-bots form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.container-bots form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
}

.container-bots form button {
    background-color: #144386;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container-bots form button:hover {
    background-color: #28CEC5;
}

.container-bots .btn-secondary {
    background-color: #6c757d;
    color: white;
}

.container-bots .btn-secondary:hover {
    background-color: #5a6268;
}

