<section>
    <button (click)="ordenar_provincia()">Ordernar Provincia</button>
    <button (click)="ordenar_id()">Ordenar id</button>
    <button (click)="ordenar_nombre()">Ordenar Por Nombre</button>
    <button (click)="ordenar_disponibles()">Ordenar Disponibles</button>
    <button (click)="buscar_disponibles()">Buscar Disponibles</button>
    <button (click)="limpiar_filtros()">Limpiar Filtros</button>
    <form (ngSubmit)="onSubmit()">
        <label for="texto">Ingrese un texto:</label>
        <input type="text" id="texto" name="texto" [(ngModel)]="nombre">
        <button type="submit">Enviar</button>
      </form>
      
</section>

<section class="clinicas">

    @for(hospital of hospitales; track hospital.id){
            <div class="clinica">
                <img [src]="'../../../assets/hospitales/'+hospital.id+'.jpeg'">
                <h3>{{ hospital.name }}</h3>
                <a class="provincia">{{ hospital.province.name }}</a>
                <div>{{ hospital.address }} - {{hospital.pc}}</div>
                @if(hospital.onDutty == "ACTIVE"){
                    <section class="estado"><p class="active">Disponible</p></section>
                }@else if (hospital.onDutty == "INACTIVE") {
                    <section class="estado"><p class="inactive">No disponible</p></section>
                }@else if (hospital.onDutty == "SUSPENDED") {
                    <section class="estado"><p class="suspended">Suspendido</p></section>
                }
                <a class="visitar" (click)="detalles_hospital(hospital.id)">Visitar</a>
            </div>
    }
        
    

</section>
