<section class="clinicas">
    <div class="clinica">
        <img src="../../../assets/hospital.jpeg">
        <h3>Hospital</h3>
        <a class="provincia">Madrid</a>
        <p>Calle Sol 28000</p>
        <p>+34 666 66 66 66</p>
    </div>

    <div class="clinica" >
        <img src="../../../assets/hospital.jpeg">
        <h3>{{ nombre }}</h3>
        <a class="provincia">Madrid</a>
        <p>Calle Sol 28000</p>
        <p>+34 666 66 66 66</p>
    </div>
    <div class="clinica"></div>
    <div class="clinica"></div>
    <div class="clinica"></div>
    <div class="clinica"></div>
    <div class="clinica"></div>
    <div class="clinica"></div>
    <div class="clinica"></div>
    <div class="clinica"></div>
</section>
