<header>

</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eighth navbar example">
    <div class="container" >
        <app-logo ></app-logo>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 3rem; gap: 2rem;">
          <li class="nav-item">
            <a class="nav-link "  routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quienes_somos" >Quiénes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/doctor">Profesionales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clinicas" >Clínicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/especialidadesPaciente">Especialidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">Contáctanos</a>
          </li>
          <li class="nav-item" style=" color: #144386; width: 100px; height: 3rem;">
            <a class="nav-link" routerLink="/admin-home">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctor-home" style="background-color:  #144386; color: white; width: 100px; height: 3rem;">Doctor</a>
          </li>
        </ul>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2 button-log" (click)="ir_inicio_sesion()">Iniciar Sesión</button>
          </div>
      </div>
    </div>
  </nav>
  



