<app-header></app-header>

<app-admin-sidebar></app-admin-sidebar>

<section class="container">
  <div class="py-2">
    <div class="d-flex justify-content-end mt-3 boton">
    
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Lista de turnos para Cita</h3>
      <button class="btn btn-primary" (click)="navigateToAddAppointmentshift()">
        Nuevo turno
      </button>
    </div>
    <div class="card-body table-responsive">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Hora</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for(appointmentshift of appointmentshifts; track
          appointmentshift.id){
          <tr>
            <th>{{ appointmentshift.id }}</th>
            <th>{{ appointmentshift.hour }}</th>
            <th>
              <button
                class="btn btn-primary"
                (click)="navigateToUpdateAppointmentshift(appointmentshift.id)"
              >
                Actualizar
              </button>
            </th>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>
